<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Lobby</title>
</head>
<body>
	<h1>Lets chat!</h1>

	<form id="form">
		<input type="text" name="message">
	</form>

	<div id="messages"></div>

	<script type="text/javascript">
		//This URL represents the WebSocket endpoint that the client will connect to
		let url = `ws://${window.location.host}/ws/socket-server/`

		// Create object of WebSocket for chatSocket var and passing url that we just created
		//Establishes a connection to the WebSocket server at the specified URL
		const chatSocket = new WebSocket(url)

		//chatSocket.onmessage = function(e) { ... } This sets up an event listener for incoming messages on the WebSocket connection
		//When a message is received, the function specified inside the event listener is executed
		//The e parameter represents the message event
		chatSocket.onmessage = function(e){
			//Inside the event listener function, this line parses the incoming message data as JSON
			//The e.data property contains the raw message data received from the server
			//By parsing it as JSON, you can access the message content as JavaScript objects
			let data = JSON.parse(e.data)

			//This line logs the parsed message data to the browser console
			console.log('DATA: ', data)

			if (data.type === 'chat'){
				//If the condition is true, it retrieves the <div> element with the id 'messages' using document.getElementById('messages')
				//document.getElementById() used to get elem of html from its id => if success you can manipulate that elem through js
				let messages = document.getElementById('messages')

				//uses the insertAdjacentHTML() method to insert new HTML content at a specified position ('beforeend', meaning it will be inserted as the last child of the <div> element)
				messages.insertAdjacentHTML('beforeend', `<div>
										<p>${data.message}</p>
										</div>`)
			}
		}

		let form = document.getElementById('form') //retrieves the HTML form element with the id 'form' and assigns it to the variable form

		//adds an event listener to the form element => event being listened for is the 'submit' event which occurs when the form is submitted
		//When the form is submitted, the callback function provided as the second argument is executed
		//(e) => { ... }: This is an arrow function, which serves as the callback function for the 'submit' event listener
		//It takes one parameter, e, which represents the event object
		form.addEventListener('submit', (e)=>{
			//This line prevents the default behavior of the form submission, which would cause the page to reload
			e.preventDefault()

			//retrieves the value entered into an input field with the name 'message' within the form that was submitted
			//accesses the form data through the target property of the event object (e) and retrieves the value of the input field
			let message = e.target.message.value

			// It converts the message data (a JavaScript object with a 'message' property) into a JSON string using JSON.stringify() before sending it
			chatSocket.send(JSON.stringify({
				'message':message
			}))
			//resets the form fields to their default values.
			//Ensures that the input field is cleared and ready for the user to enter a new message
			form.reset()
		})
	</script>
</body>
</html>
